html, * {
	/* font-size: 100%; */
}

*::-webkit-scrollbar {
    width: 1em;
}
*::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
	border-radius: 40px;
}

header {
	background-color: #407AB1;
	margin-bottom: 4rem;
	padding-top: 1rem;
	color: white !important;
}

.nav {
	padding: 0 1rem;
	margin: 0 0 1rem 0 !important;
}

.timetable {
	height: 65vh;
	overflow: scroll;
}

.row {
	margin-top: 4vh;
}

.clock {
	margin: 0;
	font-size: 500%;
	text-align: center;
}
.clockdate {
	font-size: 200%;
	text-align: center;
}

.next {
	background-color: rgba(168, 210, 244, 0.38);
	border-radius: 2px;
	padding-left: 8px;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

a:not(:last-of-type) {
	margin-right: 1rem;
}

footer {
	color: #8a8686;
	font-size: 1rem;
}

.ReactModal__Content {
	margin: auto;
	max-width: 400px;
}

button.close {
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	float: right;
	border-radius: 100%;
	padding: 0;
	padding-left: 1px;
	font-size: 2.4rem;
	text-align: center;
	color: #bbb;
}

.langCenter {
	flex-direction: column;
	align-content: space-around;
	height: 100%;
	width: 50%;
	margin: auto;
}

.langCenter button {
	width: 100% !important;
	display: block !important;
	padding-left: 0;
	padding-right: 0;
}

.noBorder {
	border: 0px;
}
